@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

*{
    box-sizing: border-box;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background: rgb(11, 12, 26);
}

:root{
    --backgroundOnOff: rgb(73, 75, 88);
}

.header{
    position: relative;
    padding: 20px;
    display: block;

    .switch{
        position: absolute;
        right: 150px;

        .lightswitchclass {
            display: block;
            position: relative;
            width: 70px;
            height: 100px;
            margin: 70px auto;
            border-radius: 50px;
            background: linear-gradient(rgba(93, 94, 109, 0.7), rgba(59, 62, 83, .7));
            box-shadow:inset 0 -5px 0 rgb(48, 48, 54),
                        0 6px 5px rgba(56, 59, 61, 0.459),
                        3px 16px 5px rgba(56, 67, 71, 0.226);
            cursor: pointer;
          }
          .lightswitchclass:before {
            content: "";
            position: absolute;
            top: -10px; bottom: -10px;
            left: -5px; right: -5px;
            z-index: -2;
            background: var(--backgroundOnOff);
            border-radius: inherit;
            box-shadow:
              0 1px 1px rgba(#70818a,0.2),
              0 3px 3px rgba(101, 110, 117, 0.4),
              inset 0 1px 0 rgba(69, 81, 85, 0.8),
              0 0 5px rgba(93, 104, 110, 0.5);
          }
          .shadow {
            position:absolute; 
            width: 60px;
            height: 70px;
            border-radius: 50%;
            z-index: -1;
            left: 21px;
            top: 78px;
            background: linear-gradient(160deg, rgba(49, 52, 53, 0.7), rgba(170, 160, 140, 0));
            background: -webkit-linear-gradient(290deg, rgba(32, 34, 36, 0.75), rgba(170, 160, 140, 0));
            -webkit-filter: blur(3px);
            filter: opacity(3px);
          }
          #lightswitch {
            clip: rect(0 0 0 0);
            position: absolute;
            visibility: hidden;
          }          
          #lightswitch:checked ~ .lightswitchclass {
            background: linear-gradient(#e6e3da, #fff);
            border: 1px solid rgba(0,0,0,0.1);
            box-shadow: inset 0 7px 0 #fdfdfd,
                        0 2px 3px rgba(140, 158, 170, 0.3);
            border-bottom: none;
          }
          #lightswitch:checked ~ .shadow {
            display: block;
          }
          #lightswitch ~ .shadow {
            display: none;
          }
    }
    .area {
        position: relative;
        top: -24px;
        margin: 0 auto;
        width: 300px;
        height: 300px;
        animation: swing 1s infinite ease-in-out alternate;
        transform-origin: top;
        -moz-transform-origin: top;
        -webkit-transform-origin: top;
    }
    .wire {
        position: relative;
        left: 98px;
        height: 200px;
        width: 5px;
        background-color: black;
    }
    .fixture {
        position: relative;
        background-color: grey;
        width: 20px;
        height: 25px;
        left: 92px;
    }
    .strip {
        position: relative;
        width: 21px;
        height: 2px;
        right: 1px;
        top: 4px;
        background-color: darkgrey;
    }
    .strip:nth-of-type(2) {
        top: 7px;
    }
    .strip:nth-of-type(3) {
        top: 10px;
    }
    #bulb{
        position: relative;
        width: 85px;
        height: 85px;
        left: 60px;
        bottom: 1px;
        z-index: -1;
        background: radial-gradient(circle, #292f36cc, rgb(11, 12, 26));
        border-radius: 50%;
    }
    #bulb::before{
        content: '';
        top: 20px;
        left: 10px;
        position: absolute;
        background: rgba(238, 246, 255, 0.116);
        height: 20px;
        width: 15px;
        border-radius: 80% 20% 56% 44% / 86% 53% 47% 14% ;
        -webkit-filter: blur(2px);
        filter: opacity(2px);
    }
    .on{
        background: radial-gradient(circle, #ffffff, #ffffff) !important;
        -webkit-box-shadow: 0px 0px 700px 107px rgb(232, 250, 249);
        -moz-box-shadow: 0px 0px 700px 107px rgb(232, 249, 250);
        box-shadow: 0 20px 100px 30px #fff, 0 20px 200px 50px #fff, 0 20px 300px 40px #fff, 0 20px 350px #fff,
                    0 0 400px 10px #fff, 0 0 450px 20px #fff, 0 0 500px 10px #fff;
    }
    .zig {
        position: relative;
        background-color: transparent;
        width: 14px;
        height: 7px;
        border-radius: 5px / 2.5px;
        left: 34px;
        border: rgb(161, 175, 175) solid 1px;
    }
    .zig:nth-of-type(2) {
        top: -3px;
    }
    .zig:nth-of-type(3) {
        top: -6px;
    }
    
    @keyframes swing {
        from {
            -moz-transform: rotate(5deg);
            -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
        }
        to {
            transform: rotate(-5deg);
        }
    }
    .flickering{
        animation: flickering-light 0.3s linear 3s infinite alternate;
    }
    @keyframes flickering-light{
        0%, 50%{
            background: rgba(255,255,255,1);
            -webkit-box-shadow: 0px 0px 700px 107px rgb(232, 250, 249);
            -moz-box-shadow: 0px 0px 700px 107px rgb(232, 249, 250);
            box-shadow: 0 20px 100px 30px #fff, 0 20px 200px 50px #fff, 0 20px 300px 40px #fff, 0 20px 350px #fff,
                    0 0 400px 10px #fff, 0 0 450px 20px #fff, 0 0 500px 10px #fff,
                    0px 0px 10px rgba(255,255,255,1), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), 0 0 120px rgba(255,255,255,0.4);
        }
        30%, 75%, 100%{
            background: rgba(255,255,255,1);
            -webkit-box-shadow: 0px 0px 700px 107px rgb(232, 250, 249);
            -moz-box-shadow: 0px 0px 700px 107px rgb(232, 249, 250);
		    box-shadow: 0px 0px 10px rgba(255,255,255,1), 0px 0px 30px rgba(255,255,255,0.2), 0px 0px 50px rgba(255,255,255,0.1), 0px 0px 70px rgba(255,255,255,0.6), 0 0 90px rgba(255,255,255,0.01);
        }
    }
}

.bg-light-flickering{
    background: radial-gradient(circle, #bfdff3, #8eaec9);
    animation: flickering-light-bg 0.3s linear 3s infinite alternate;
}
@keyframes flickering-light-bg{
    0%, 50%{
        background: radial-gradient(circle, #a3c5da, #496680);
    }
    30%, 75%, 100%{
        background: #0b0c1a;
    }
}

.myText{
    display: none;
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 100vw;
    height: 20vh;
    top: 70px;
    background: none;

    .KMF{
        font-size: 4rem;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        display: inline-block;
        font-family: 'Dosis', sans-serif;
        color: #eaf7ff;
        animation: text-animation 3s infinite;
    }
    @keyframes text-animation {
        0% {  text-shadow: 5px 5px 10px #000, 10px 10px 10px #00000000,   0px 0px 30px #00000000, 0px 0px 40px #00000000 ; }
        50% { text-shadow: -5px 5px 10px #000, -10px 10px 10px #00000000,  0px 0px 30px #00000000, 0px 0px 40px #00000000 ;  }
        100% { text-shadow: 5px 5px 10px #000, 10px 10px 10px #00000000,   0px 0px 30px #00000000, 0px 0px 40px #00000000 ;  }
    }
}

@mixin flex($direction, $justify, $align) {
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.buttons-container {
    @include flex(row, space-between, center);
    width:60%;
    position: absolute;
    display: none;
    top: 40px;
    flex-wrap: wrap; 
}
.button {
    @include flex(row, center, center);
    border-radius: 25%;
    width: 60px;
    height: 60px;
    position: relative;
    box-shadow: -12px -14px 17px -6px rgba(0,0,0,0.38);
    -webkit-box-shadow: -12px -14px 17px -6px rgba(0,0,0,0.38);
    -moz-box-shadow: -12px -14px 17px -6px rgba(0,0,0,0.38);
    background: linear-gradient(rgb(255, 255, 255), rgb(199, 200, 201));
    margin-bottom: 1em;
    transition: all .2s ease-in-out;

    &:hover {
        cursor:pointer;
        box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.1);
        color: white;
        transform: scale(1.2);
    }
}
.linkedin:hover {
    background: #0e76a8;
}
.twitter:hover {
    background: #1da1f2;
}
.github:hover {
    background: black;
}
.codepen:hover {
    background: #1e1f26;
}